:root{
    --cor-primaria-1: #12100E;
    --cor-primaria-2: #0E1428;
    --cor-primaria-3: #18206F;
    --cor-primaria-4: #18206F;
    --cor-primaria-5: #6F58C9;
    --cor-neutra-1: #fff;
    --cor-neutra-2: #1d1d1d;
    


}
header{
    width: 100%;
    padding: 20px 8%;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-primaria-5);
}

.nav_lista {
    display: flex;
    list-style: none;
    gap: 80px;
    text-transform: uppercase;
}

.nav-item  {
font-size: 1.2rem;
font-weight: 600;
}

.nav-item:hover {
    background-color: var(--cor-primaria-5);
    color: var(--cor-neutra-1);
    cursor: pointer;
    border-radius: 10px;
}

.nav_celular {
    display: none;

}

btn-celular {
    display: none;
}

.nav_celular .ativo {
    display: block;
}